@{
  Layout = "_Layout";
}

@model Doctors.Models.Specialty
@using Doctors.Models;
@using System.Collections.Generic;

<h2>Specialty Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Doctors.Count == 0)
{
  <p>This specialty does not have any doctors</p>
}
else
{
  <h4>Doctors with this specialty:</h4>
  <ul>
  @foreach(Doctor doctor in Model.Doctors)
  {
    string patients = "";
    @if(doctor.JoinEntities.Count == 0)
    {
      patients = "This doctors does not have any patients.";
    }
    else
    {
      List<string> patientList = new List<string>();
      @foreach(DoctorPatient join in doctor.JoinEntities)
      {
        patientList.Add(join.Patient.Name);
      }
      patients = String.Join(", ", patientList);
    }
    <li>@doctor.Name | Patients: @patients</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to specialties", "Index")</p>
<p>@Html.ActionLink("Edit Specialty", "Edit", new { id = Model.SpecialtyId })</p>
<p>@Html.ActionLink("Delete Specialty", "Delete", new { id = Model.SpecialtyId })</p>
<p>@Html.ActionLink("Add new doctor", "Create", "Doctors")</p>